.DS_Store
.vscode/
aider.code-workspace
*.pyc
.aider*
aider_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
aider/__version__.py
.venv/
.env
*.*~
/test/
.idea

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch
*/.parcel-cache
*.vsix
*.jar
out/
.codegpt

.bevel